<div class="jumbotron">
  <p><%= handler_info @conn %></p>

      <%= for key <- connection_keys @conn do %>
          <%= render HelloPhoenix.SharedView, "key.html", key: key %>
        <% end %>
</div>